* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

/* task1 */
.counter-container {
  width: 100%;
  height: 145px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid;
}

/* task 2 */
.slider-container {
  width: 80%;
  height: 250px;
  margin: 50px auto 50px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(144, 144, 144);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.counter-field {
  width: 200px;
  height: 50px;
  border: 1px solid #111;
  border-radius: 5px;
  font-size: 25px;
  padding: 10px 0;
  text-align: center;
}

.btn1,
.btn2,
.btn {
  width: 200px;
  height: 50px;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: #0083b0;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}

.btn1,
.btn2 {
  text-align: center;
  line-height: 40px;
}

.btns,
.numbers {
  width: 400px;
  display: flex;
  justify-content: space-between;
}
.btns {
  width: 80%;
}

.numbers > div {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  background-color: rgba(213, 53, 96, 0.528);
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}
.message {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color: gold;
}

.numbers > div.active {
  background-color: rgba(0, 0, 255, 0.528);
}

.close {
  width: 120px;
  background-color: brown;
  position: absolute;
  /* top: 0px; */
  left: 0;
}

/* task 3 */
.parentDiv {
  border: 1px solid;
  padding: 10px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 100px;
}

#myDiv {
  width: calc(97% / 2);
  height: 200px;
  font-size: 17px;
  background-color: rgb(169 159 159);
  text-align: center;
  padding: 80px 35px;
  user-select: none;
  margin-bottom: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.active {
  background-color: rgba(255, 0, 0, 0.691) !important;
}

/* Task 4 */

.logo {
  width: 100%;
  height: 120px;
  background-color: orange;
  font-size: 100px;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-container {
  width: 100%;
  height: 100px;
  background-color: rgb(255, 72, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.form-container p {
  font-size: 20px;
}
.form-container select,
.form-container input,
.form-container button {
  font-size: 20px;
  padding: 10px 15px;
  background-color: aquamarine;
  border-radius: 20px;
  outline: none;
  border: none;
}

.form-container button {
  background-color: rgb(0, 81, 255);
  cursor: pointer;
}
.PackingList {
  width: 100%;
  height: 250px;
  background-color: burlywood;
  padding: 50px;
}
.PackingList ul {
  width: 100%;
  height: 50px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  margin: 0 0 70px 0;
  overflow: scroll;
}

.liOfItem {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-right: 200px;
}
.liOfItem div {
  color: aquamarine;
  font-size: 20px;
  display: flex;
  font-weight: 500;
  align-items: center;
  gap: 2px;
}
.liOfItem div.check {
  text-decoration: line-through;
  text-decoration-color: red;
}

.liOfItem input[type="checkbox"] {
  cursor: pointer;
}
.liOfItem .icon {
  font-size: 25px;
  color: red;
  cursor: pointer;
}
.PackingList .btns {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.PackingList .btns select,
.PackingList .btns button {
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: antiquewhite;
  cursor: pointer;
}

.footer {
  width: 100%;
  height: 80px;
  background-color: rgb(0, 225, 255);
  font-size: 20px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}
